.bash_history
.ssh
AppData
Contacts
Desktop
Documents
Downloads
Favorites
Links
Music
NTUSER.DAT
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TM.blf
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{016888bd-6c6f-11de-8d1d-001e0bcde3ec}.TMContainer00000000000000000002.regtrans-ms
Pictures
Saved Games
Searches
Videos
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ntuser.pol
.Rproj.user
